<h1>On-site self registration form</h1>
<form action="/register/success" method="POST">
    <label>Name</label> <input type="text" name="p_name"/>
    <br/>
    <label>N-number</label> <input type="text" name="p_nnumber"/>
    <br/>
    <label>NYU Email</label> <input type="email" name="p_email"/>
    <br/>
    <label>School</label> <input type="text" name="p_school"/>
    <br/>
    <label>Major</label> <input type="text" name="p_major"/>
    <br/>
    <input type="submit" value="Submit" />
</form>
